.env
# Python bytecode
*.pyc

# Python cache
__pycache__/

*.img
# *.png
*.jpg
*.jpeg
*.webp
*.aspx
*.wss
*.svg
*.php
*.gif
*.do
*.es

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*