pandas==2.3.3
openpyxl==3.1.5
gradio==5.49.1
python-dotenv==1.1.1
python-dateutil==2.9.0.post0
playwright==1.55.0
langchain-openai==0.3.33
nltk==3.9.2
requests==2.32.5
langgraph==1.0.1
langchain_core==0.3.76
selenium==4.38.0
webdriver-manager==4.0.2
langchain-google-genai==2.1.12
matplotlib==3.10.7
Pillow==11.3.0
wordcloud==1.9.4
geopy==2.4.1
nest_asyncio==1.6.0
google-generativeai
rembg
fastapi==0.115.0
uvicorn[standard]==0.32.0
konlpy==0.6.0